body{
	font-size: 16px;
	color: black;
	background-color: white;
	font-family: 'oxygen', sans-serif;
}

#header-nav{
	background-color: #669999;
	border-radius: 0;
	border: 0;
}

#logo a{
	color: white;
	font-size: 3em;
	margin-left: 15px;
	margin-top: 10px;
}

#logo a:hover, #logo a:focus{
	color: gray;
}

#nav-list>li>a {
    color: white;
}

#nav-list>li>a:hover, #nav-list>li>a:focus{
	color: gray;
}

.navbar-toggle{
	background-color: gray;
}

#navbar-toggle>span{
	color: white;
}

h1{
	height: 1.5em;
}

#content{
	margin-bottom: 25px;
}

h3{
	border: solid black 2px;
}

#beef-content, #chicken-content, #fish-content{
	background-color:#e0e0d1;
	border: solid white 5px;
}

#back-button>a{
	color: white;
	text-decoration: none;
	align-content: right;
}

#back-button>a:hover, #back-button>a:focus{
	color: gray;
}
